@import 'meta';
@import 'cover';
@import 'toc';
@import 'content';
@import 'footer';
@import 'social';
@import 'works';

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color:#8a6d3b;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
