{{ if not ( eq .Section "page" ) }}

<footer class='entry-footer'>

  {{ $path := index .Params.aliases 0 }}
  {{ if not $path }}
    {{ $path := .URL }}
  {{ end }}

  <div class="container">
    <div class="social-buttons">
      <ul class="widget-social_menu">
        <li>
          {{ $hatenaUrl := print .Site.Params.Hatena.BookmarkBaseURL $path }}
          <a href="{{ $hatenaUrl }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </li>

        <li>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>

        <li>
          <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ .Permalink }}&layout=button&size=small&mobile_iframe=true&appId=325504154626023&width=61&height=20" width="61" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>

        <li>
          <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
          <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
        </li>
      </ul>
    </div>
  </div>

  <div class='container sep-before'>
  {{ range $taxonomy, $pages := .Site.Taxonomies }}
    {{- if not ( eq $taxonomy "authors" ) -}}
      {{- if ( index $.Params $taxonomy ) -}}
        {{- $.Scratch.Set "taxonomy" $taxonomy -}}
        {{- partial "entry/taxonomy-list" $ -}}
      {{- end -}}
    {{- end -}}
  {{ end }}
  </div>
</footer>
{{ end }}
