{{ if not ( eq .Section "page" ) }}
<footer class='entry-works'>
  <div class='container sep-before'>
    <h4>所の執筆・監修した書籍</h4>

    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4897978440/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4897978440&linkCode=as2&tag=tokorom-22&linkId=80f63e4a56d7072f274e62a43ee3f55e">
    <div style="overflow:hidden; padding:20px; border:2px solid #ccc;">
    <img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4897978440&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=tokorom-22" align="left" style="float:left; margin-right:15px; line-height:0;">
    <p style="margin:0 0 3px 0; font-size:110%; font-weight:bold;">iPhoneプログラミングUIKit詳解リファレンス</p>
    <li style="font-size:90%; list-style:none;"><span>著者：</span>
    <span>所 友太</span></li>
    </div>
    </a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=tokorom-22&l=am2&o=9&a=4897978440" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B01HG97S7K/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01HG97S7K&linkCode=as2&tag=tokorom-22&linkId=50a4f9009a5a2ce3b0cf2f084a5d9008">
    <div style="overflow:hidden; padding:20px; border:2px solid #ccc;">
    <img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01HG97S7K&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=tokorom-22" align="left" style="float:left; margin-right:15px; line-height:0;">
    <p style="margin:0 0 3px 0; font-size:110%; font-weight:bold;">よくわかるAuto Layout (監修)</p>
    <li style="font-size:90%; list-style:none;"><span>著者：</span>
    <span>川邉雄介</span></li>
    <li style="font-size:90%; list-style:none;"><span>監修：</span>
    <span>所 友太</span></li>
    </div>
    </a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=tokorom-22&l=am2&o=9&a=B01HG97S7K" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4897976839/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4897976839&linkCode=as2&tag=tokorom-22&linkId=f1f1abc3834e68b79853e4acbaec1056">
    <div style="overflow:hidden; padding:20px; border:2px solid #ccc;">
    <img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4897976839&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=tokorom-22" align="left" style="float:left; margin-right:15px; line-height:0;">
    <p style="margin:0 0 3px 0; font-size:110%; font-weight:bold;">詳解 EZアプリ(BREW)プログラミング</p>
    <li style="font-size:90%; list-style:none;"><span>著者：</span>
    <span>溝口 英巳,</span><span>宮北 幸典,</span><span>所 友太</span></li>
    </div>
    </a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=tokorom-22&l=am2&o=9&a=4897976839" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    <div class="peaks_widget" style="overflow:hidden; padding:20px; border:2px solid #ccc;"><div class="peaks_widget__image" style="float:left; margin-right:15px; line-height:0;"><a target="_blank" id="purchase" href="https://peaks.cc/tokorom/iOS11"><img alt="iOS 11 Programming" style="border:none; max-width:140px;" src="https://peaks-img.s3-ap-northeast-1.amazonaws.com/ios11_project_cover_alpha.png"></a></div><div class="peaks_widget__info"><p style="margin:0 0 3px 0; font-size:110%; font-weight:bold;"><a target="_blank" id="purchase" href="http://peaks.cc/tokorom/iOS11">iOS 11 Programming</a></p><ul style="margin:0; padding:0;">
    <li style="font-size:90%; list-style:none;"><span>著者：</span>
    <span>堤 修一,</span><span>吉田 悠一,</span><span>池田 翔,</span><span>坂田 晃一,</span><span>加藤 尋樹,</span><span>川邉 雄介,</span><span>岸川 克己,</span><span>所 友太,</span><span>永野 哲久,</span><span>加藤 寛人,</span></li>
    <li style="font-size:90%; list-style:none;">製本版,電子版</li>
    <li style="font-size:90%; list-style:none;"><a target="_blank" id="purchase" style="text-decoration:underline; color:#1DA1F2;" href="http://peaks.cc/tokorom/iOS11">PEAKSで購入する</a></li></ul></div></div>

    <div class="peaks_widget" style="overflow:hidden; padding:20px; border:2px solid #ccc;"><div class="peaks_widget__image" style="float:left; margin-right:15px; line-height:0;"><a target="_blank" id="purchase" href="https://peaks.cc/tokorom/iOS12"><img alt="iOS 12 Programming" style="border:none; max-width:140px;" src="https://peaks-img.s3-ap-northeast-1.amazonaws.com/ios12_project_cover_alpha.png"></a></div><div class="peaks_widget__info"><p style="margin:0 0 3px 0; font-size:110%; font-weight:bold;"><a target="_blank" id="purchase" href="http://peaks.cc/tokorom/iOS12">iOS 12 Programming</a></p><ul style="margin:0; padding:0;">
    <li style="font-size:90%; list-style:none;"><span>著者：</span>
    <span>加藤 尋樹,</span><span>佐藤 紘一,</span><span>石川 洋資,</span><span>堤 修一,</span><span>吉田 悠一,</span><span>池田 翔,</span><span>佐藤剛士,</span><span>大榎一司,</span><span>所 友太,</span></li>
    <li style="font-size:90%; list-style:none;">製本版,電子版</li>
    <li style="font-size:90%; list-style:none;"><a target="_blank" id="purchase" style="text-decoration:underline; color:#1DA1F2;" href="http://peaks.cc/tokorom/iOS12">PEAKSで購入する</a></li></ul></div></div>

  </div>

</footer>
{{ end }}
